.image-list {
  //   height: 250px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  label {
    width: 150px;
    height: 150px;
    text-align: center;
    border: dashed 1px gray;
    input {
      display: none;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
