.navigator-body {
  top:0;
  position: sticky;
  background-color: black;
  padding: 1em;
  column-gap: 1em;
  display: flex;
  align-items: center;
  color: white;
  .navigator-suffix {
    font-size: xx-large;
    margin: 0 0.5em;
  }
  a {
    color: white;
    text-decoration: unset;
  }
}
